
			.App {
			text-align: center;
			}

			.App-logo {
			height: 40vmin;
			}

			.App-header {
			background-color: #282c34;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: calc(10px + 2vmin);
			color: white;
			}

			.App-link {
			color: #61dafb;
			}




.container {
	max-width: 60%;
	margin: 0 auto;
	height: 100vh;
}
header + .container {
	height: calc(100vh - 142px);
}

.login {
    position: relative;
	top: 50%;
    transform: translateY(-50%);

    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	text-align: center;

	background-color: #cccccc1c;
    border: 1px solid #ccc;
    border-radius: 3px;
	padding: 25px;
}

header {
	border-bottom: 2px solid orange;
	padding: 20px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
}

header nav {
	flex: 1 1 auto;
	order: 0;
}

.logoutbutton { order: 1 }
.authed-user-info { order: 2 }







.avatar {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	border:1px solid #ccc;
}

.nav ul {
	display: inline-block;
}
.nav li {
	display: inline-block;
	margin-right: 15px;
}
.nav li a.active {
	font-weight: 700;
}

.logoutbutton {
	margin-right: 25px;
}

.authed-user-info {
	display: flex;
	align-items: center;
}

.authed-user-info .avatar {
	width: 40px;
	height: 40px;
	order: 1;
	margin: 0 0 0 10px;
}

.avatar	img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.dashboard-list {
	list-style-type: none;
}






.question-teaser {
	margin-bottom: 20px;

	background-color: #cccccc1c;
    border: 1px solid #ccc;
    border-radius: 3px;
	
	display: flex;
	flex-flow: row wrap;
}

.question-teaser .heading {
	background: #cccccc4a;
	padding: 20px;
    font-size: 16px;
    font-weight: bold;
	
	flex: 1 100%;
}

.question-teaser .col-1 {
	padding: 20px;
	flex: 1;
}
.question-teaser .col-2 {
	padding: 20px;
	flex: 4;
}

.question-link {
	float:right;
}


.question {
	position: relative;
	background-color: #cccccc1c;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.question .heading {
	background: #cccccc4a;
	padding: 20px;
    font-size: 16px;
    font-weight: 700;
	margin: 0;
}
.question  .heading-sub {
	background: #cccccc4a;
	padding: 20px;
    font-size: 14px;
    font-weight: 700;
	margin: 0;

	padding: 20px 20px 0 20px;
}






.question-author {
	flex: 1 100%;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	background: #cccccc4a;
	
	padding: 20px;
}
.question-author .avatar {
	width: 70px;
	margin: 0 20px 0 0;
}

.question-author-name {
	display: block;
	font-size: 26px;
	font-weight: 700;
	margin: 0 0 10px 0;
}
.question-date {
	display: block;
	font-size: 12px;
}


.question .question-id {
	position: absolute;
	right: 3px;
	bottom: 3px;
}



.question-answers {
	flex: 1 100%;
	display: flex;
	flex-flow: row wrap;	
	padding: 50px 20px
}
.question-answers .answer {
	padding: 20px;
	flex: 1;

	position: relative;
    border: 1px solid orange;
	min-height: 60px;
    align-items: center;
    display: flex;
    padding: 20px;
	border-radius: 3px;
}
.question-answers .answer:first-child {
    margin: 0 20px 0 0;
}
.question-answers .answer.is-winner {
    border: 1px solid #00b935;
	background: #00b935;
	font-weight: 700;
}
.question-answers .answer.is-userchoice:before {
	content: 'Your choice';
    position: absolute;
    top: -28px;
    right: -20px;
    transform: rotate(20deg);
    width: 50px;
    border: 1px solid;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background: #fff;
}




.question-id {
	font-size: 10px;

}