.filter-links {
	margin: 0 0 20px 0;
	text-align: center;
	button {
		font-weight: 400;
		margin: 0 15px 10px 0;
		cursor: pointer;
		color: #000;
		min-width: 150px;

		&:disabled {
			cursor: default;
			color: #00aa9e;
			font-weight: 700;
		}
	}
}