.question-teaser{
	margin-bottom: 20px;
	background-color: #cccccc1c;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	flex-flow: row wrap;

	.heading {
		background: #cccccc4a;
		padding: 20px;
		font-size: 16px;
		font-weight: bold;
		flex: 1 100%;
	}

	.col-1 {
		padding: 20px;
	}
	.col-2 {
		padding: 20px;
		flex: 1;
	}
	.col-3 {
		padding: 20px;
	}

	.question-link {
		position: relative;
		display: block;
		border-radius: 3px;
		// border: 1px solid #ccc;
		height: 100px;
		width: 90px;
		font-size: 0;

		&:hover {
			&::before {
				background-color: #008d84;
			}
		}

		&::before {
			content: '>';
			position: absolute;
			box-sizing: border-box;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);

			display: inline-block;
			border-radius: 30px;
			padding: 10px;
			min-width: 44px;
			text-align: center;

			font-family: monospace;
			font-size: 24px;
			font-weight: 700;
			color: white;
			background-color: #00aa9e;
		}
	}
}
