
.question-answers {
	flex: 1 100%;
	display: flex;
	flex-flow: row wrap;	
	padding: 50px 20px;

	.answer {
		padding: 20px;
		flex: 1;

		position: relative;
		border: 1px solid orange;
		min-height: 60px;
		align-items: center;
		display: flex;
		padding: 20px;
		border-radius: 3px;

		&:first-child {
			margin: 0 20px 0 0;
		}
		&.is-winner {
			border: 1px solid #00b935;
			background: #00b935;
			font-weight: 700;
		}
		&.is-userchoice:before {
			content: 'Your choice';
			position: absolute;
			top: -28px;
			right: -20px;
			transform: rotate(20deg);
			width: 50px;
			border: 1px solid;
			border-radius: 25px;
			padding: 10px;
			text-align: center;
			font-size: 12px;
			background: #fff;
		}
	}
}
