.question-vote {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 50px 20px 0; }
  .question-vote > label {
    flex: 1;
    cursor: pointer; }
    .question-vote > label:first-child {
      margin: 0 20px 0 0; }
    .question-vote > label input {
      display: none; }
    .question-vote > label span {
      position: relative;
      border: 1px solid #cfcfcf;
      min-height: 60px;
      align-items: center;
      display: flex;
      padding: 20px;
      border-radius: 3px; }
      .question-vote > label span:before {
        content: '';
        opacity: 0;
        position: absolute;
        top: -35px;
        right: 0px;
        padding: 10px;
        font-size: 16px;
        color: #008d84;
        font-weight: 700;
        transition: all 0.3s ease; }
    .question-vote > label input:checked + span {
      transition: all 0.3s ease;
      position: relative;
      border: 1px solid #008d84;
      background-color: rgba(0, 170, 158, 0.160784); }
      .question-vote > label input:checked + span:before {
        content: 'Your choice';
        opacity: 1; }
  .question-vote > div {
    flex: 1 1 100%; }
  .question-vote .button-invisible {
    visibility: hidden; }
  .question-vote .button-visible {
    visibility: visible; }
  .question-vote button {
    margin: 20px 0;
    float: right;
    font-weight: 700; }
