.question-add-form {
  position: relative;
  background-color: #cccccc1c;
  border: 1px solid #ccc;
  border-radius: 3px; }
  .question-add-form .heading {
    background: #cccccc4a;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    margin: 0; }
  .question-add-form .heading-sub {
    background: #cccccc4a;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 20px 20px 0 20px; }
  .question-add-form p {
    padding: 20px 20px 0;
    font-size: 24px;
    font-weight: 700; }
  .question-add-form .go-back {
    margin-left: 20px; }
  .question-add-form form {
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px; }
    .question-add-form form > label {
      flex: 1;
      cursor: pointer; }
      .question-add-form form > label:first-child {
        margin: 0 20px 0 0; }
    .question-add-form form textarea {
      width: 100%;
      height: 60px;
      padding: 5px; }
    .question-add-form form > div {
      flex: 1 1 100%; }
    .question-add-form form button {
      margin: 20px 0;
      float: right;
      font-weight: 700; }
