.question {
  position: relative;
  background-color: #cccccc1c;
  border: 1px solid #ccc;
  border-radius: 3px; }
  .question .heading {
    background: #cccccc4a;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    margin: 0; }
  .question .heading-sub {
    background: #cccccc4a;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 20px 20px 0 20px; }
  .question .question-id {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 10px; }
