.user-changer {
  background-color: #ffa5001a; }
  .user-changer select {
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    color: #000000; }
    .user-changer select option {
      background: #ffa5001a; }
